/*home page content*/

.grid-container {
    display: grid;
    place-items: center;

}

.grid-container * {
    max-width: 50ch;
}

.flow {

    .title {
        line-height: 1.2;
    }
}

@media (min-width: 45em) {
    .grid-container {
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(1rem, 1fr);
    }

    .grid-container>*:first-child {
        grid-column: 2;
    }

    .grid-container>*:last-child {
        margin-left: 2rem;
        grid-column: 3;
    }

    .grid-container--home {
        padding: 4rem 0 max(4rem, 10vh) 0;
    }

}


.price {
    align-items: center;
}

.discount {
    background-color: hsl(26 100 55 / .1);
    padding: .2rem;
    border-radius: 5px;
}

.old-price {
    color: var(--grayish-blue);
    text-decoration: line-through;
}


@media (max-width:550px) {
    .grid-container * {
        max-width: 70ch;
    }

    .grid-container {
        align-items: start;
        margin-bottom: 1rem;
    }

    .add-container {
        flex-direction: column;

        .count-container {
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .custom-button {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
        }

    }

    .mobile-container {
        padding-inline: 1.5rem;
    }
}

.add-container {
    justify-content: space-between;

    button {
        padding: .7rem 3.0rem;
    }

}

.cart-btn,
.add-container,
.count-container {
    align-items: center;
}

.count-container {
    background: var(--light-grayish-blue);
    border-radius: 10px;
    --gap: 1.2rem;

    div {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: .9rem;
    }
}