.form-box {
    width: 100%;
    padding: 3rem;

    h2 {
        font-size: 2rem;
        text-align: center;
        color: var(--very-dark-blue);
    }
}

.remember-forgot {
    font-size: .9em;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
        display: flex;
        align-items: center;
        color: var(--dark-grayish-blue);
    }

    input {
        color: var(--dark-grayish-blue);
        margin-right: .4rem;
    }

    a {
        color: var(--orange);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

}

.login-btn,
.login-with-google-btn {
    width: 100%;
    height: 45px;
    background: var(--orange);
    color: var(--white);
    border-radius: 6px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
    transition: .2s;

    &:hover {
        background: transparent;
        border: 1px solid var(--orange);
        color: var(--very-dark-blue);
    }
}

.login-with-google-btn {
    background: var(--dark-grayish-blue);

    &:hover {
        border: 1px solid var(--dark-grayish-blue);
    }
}

.login-register {
    font-size: .9rem;
    color: var(--very-dark-blue);
    text-align: center;
    font-weight: 500;
    margin: 2rem;

    p a {
        color: var(--orange);
        text-decoration: none;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}