.custom-button {
    cursor: pointer;
    border: 1px solid var(--orange);
    border-radius: 10px;
    place-items: center;

    img {
        width: 20px;
        height: 18px;
    }
    &:focus{
        opacity: .5;
    }
}

.padding-button {
    padding: .7rem 3.0rem;
}

.checkout-button {
    padding: .6rem 5rem;
    margin-bottom: 1.2rem;
}