.custom-button {
    cursor: pointer;
    border: 1px solid var(--orange);
    border-radius: 10px;
    place-items: center;

    img {
        width: 20px;
        height: 18px;
    }
    &:focus{
        opacity: .5;
    }
}
