.card-form-container {
    display: flex;
    flex-direction: column;

    height: 300px;
    width: 400px;

    .card-form {
        height: 100px;
        min-width: 500px;

    }

    button {
        position: relative;
        padding: .5rem 2rem;
        transition: .3s ease-in-out;

        &:hover {
            background: var(--white);
            color: var(--very-dark-blue);
            border: 1px solid var(--orange);
        }

        .button--loading .button__text {
            visibility: hidden;
            opacity: 0;
        }

        .button--loading::after {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border: 4px solid transparent;
            border-top-color: #ffffff;
            border-radius: 50%;
            animation: button-loading-spinner 1s ease infinite;
        }

        @keyframes button-loading-spinner {
            from {
                transform: rotate(0turn);
            }

            to {
                transform: rotate(1turn);
            }
        }
    }
}